/* Hide scrollbar for Chrome, Brave, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
